In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')
data.head()

   id   type description  lattitude  longitude age_range  score   timestamp
0   0  sport    climbing  46.513035   6.624732      0-99      1  1616193271